<div class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp log-entry" ng-class="{ 'new': log.type === 'new' }">
	<div class="mdl-card__title">
		<div class="mdl-card__title-text log-text">

			<i ng-if="log.type === 'new'" class="mis-icon icon-attention-alt red">&#xe802;</i>
			<i ng-if="log.type === 'update'" class="mis-icon icon-comment yellow">&#xe803;</i>	
			<i ng-if="log.type === 'resolved'" class="mis-icon icon-ok-circled green">&#xe801;</i>			
			<i ng-if="log.type === 'maintenance'" class="mis-icon icon-wrench yellow">&#xe800;</i>

			<span ng-bind="log.service" class="service-title"></span> 
			<span ng-bind="log.message" class="log-msg"></span>
			<div class="log-times">
				<span ng-bind="log.time | date : 'hh:mm'"></span>
			</div>
		</div>
	</div>
</div>