<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Make it Social service status">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Make it Social service status</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-deep_orange.min.css" />
  <link rel="stylesheet" href="dist/css/style.css">
</head>
<body ng-app='monitors' ng-controller="main as app">
  
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="mis-header mdl-layout__header mdl-layout__header--waterfall">
      <div class="mdl-layout__header-row">
        <span class="mis-title mdl-layout-title">
          <img class="mis-logo-image" src="images/mis-logo.png">
        </span>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="mis-header-spacer mdl-layout-spacer"></div>
        <button class="mis-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="more-button">
          <li class="mdl-menu__item">7 days</li>
          <li class="mdl-menu__item">14 days</li>
          <li class="mdl-menu__item">30 days</li>
        </ul>
        <span class="mis-mobile-title mdl-layout-title">
          <img class="mis-logo-image" src="images/mis-logo.png">
        </span>
      </div>
    </div>
    
    <div class="mis-drawer mdl-layout__drawer">
      <span class="mdl-layout-title">
        <img class="mis-logo-image" src="images/mis-logo.png">
      </span>
      <nav class="mdl-navigation">  
        <a class="mdl-navigation__link" href="">MakeitSocial.com</a>
        <a class="mdl-navigation__link" href="">Client dashboard</a>
      </nav>
    </div>
    
    <div class="mis-content mdl-layout__content">
    <a name="top"></a>
    
    <div ng-show="app.monitors" class="ng-hide">
      <h4 class="logs-title">Service status</h4>
      
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp monitor-table">
        <tr ng-repeat="monitor in app.monitors" sys-monitor="monitor" class="logs-container"></tr>
      </table>
    <div>

    <div ng-show="app.log" class="ng-hide">
      <h4 class="logs-title">Incident logs</h4>
        
      <div ng-repeat="day in app.log | groupBy:'date':'entryiesByDate'" class="logs-container">
        <span ng-bind="day.date | date : 'mediumDate'" class="day-date"></span>
        <div ng-repeat="log in day.items">
          <div log-entry="log"></div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
  <script src="dist/js/bundle.js"></script>

</body>
</html>