// Custom MiS Styles

body {
  background-color: #FBFAFF;
}

.monitor-table, .logs-title, .log-entry, .day-date {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.day-date {
  display: block;
  width: 100%;
  padding: 22px;
  border-top: 1px solid #ECE4E4;
  padding-bottom: 22px;
  color: #969191;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;

}

.log-entry div, .log-entry div h2 {
  width: 100%;
}

.log-times {
  width: 100%;
  text-align: right;
}

.service-title {
  padding-right: 35px;
}

.logs-title {
  border-top: 1px solid #ECE4E4;
  padding: 22px;
  margin-top: 35px;
  text-align: left;
}

.log-text {
  font-size: 13px;
  white-space: nowrap;
}

.log-msg {
  width: 100%;
}

.log-entry {
  margin-bottom: 35px;
  background-color: #fff;
}

/**** Mobile layout ****/
@media (max-width: 900px) {

  
.log-entry {
  width: 100%;
}

}