
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-ok-circled:before { content: '\e801'; } /* '' */
.icon-attention-alt:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */